.sampler-container {
    width: 480px;
    max-width: 70%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .library-container {
    width: 400px;
    max-width: 30%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }