<div class="library-container">
  <mat-list role="list" class="example-list">
    <mat-list-item>
      <input matInput placeholder="Track Filter" [(ngModel)]="searchText">
    </mat-list-item>
    <div draggable [dragData]="track" *ngFor="let track of allTracks | trackFilter: searchText">
      <mat-list-item role="listitem">{{track.name}}</mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>

<div class="sampler-container">
  <mat-grid-list cols="9" rowHeight="1:1">
    <div *ngFor="let row of samplers[this.page]; let i=index">
      <div *ngFor="let col of row">
        <mat-grid-tile colspan="2" [style.background]="getColor(col)" droppable (onDrop)="col.setTrack($event.dragData)"
          (click)="col.togglePlay()">
        </mat-grid-tile>
      </div>
      <mat-grid-tile>
        <button mat-mini-fab color="{{this.page===i?'primary':'gray'}}" (click)="changePage(i)">
          {{i}}
        </button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
<button (click)="save()">save</button>