<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile colspan="3" rowspan="1">
    Playlist:
    <label>{{currentPlaylist}}</label>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    Now playing:
    <label>{{currentTrack}}</label>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="1">
    <button id="prevTrackButton" (click)="previous()" [disabled]="!currentPlayer">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button id="playPauseButton" (click)="togglePlay()" [disabled]="!currentPlayer">
      <mat-icon *ngIf="!isPlaying()">play_arrow</mat-icon>
      <mat-icon *ngIf="isPlaying()">pause</mat-icon>
    </button>
    <button id="nextTrackButton" (click)="next()" [disabled]="!currentPlayer">
      <mat-icon>skip_next</mat-icon>
    </button>

    <mat-slider min="0" max="100" value="{{currentProgress}}" (input)="setPosition($event)"></mat-slider>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <mat-slider min="0" step=".01" max="1" value="{{volume}}" (input)="changeVolume($event)"></mat-slider>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="1">
      <mat-button-toggle-group name="currentPlaylistGroup" aria-label="Font Style">
          <mat-button-toggle *ngFor="let playlist of playlists" (click)="setPlaylist(playlist)" checked="{{currentPlaylist==playlist.name}}">{{playlist.name}}</mat-button-toggle>
        </mat-button-toggle-group>
  </mat-grid-tile>

</mat-grid-list>