<mat-grid-list cols="6" rowHeight="64px">
  <mat-grid-tile colspan="3" rowspan="1">
    <h2>Playlist: {{currentPlaylist}}</h2>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <h2>Now playing: {{currentTrack}}</h2>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">
    <button mat-button id="prevTrackButton" (click)="previous()" [disabled]="!currentPlayer">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-button id="playPauseButton" (click)="togglePlay()" [disabled]="!currentPlayer">
      <mat-icon *ngIf="!isPlaying()">play_arrow</mat-icon>
      <mat-icon *ngIf="isPlaying()">pause</mat-icon>
    </button>
    <button mat-button id="nextTrackButton" (click)="next()" [disabled]="!currentPlayer">
      <mat-icon>skip_next</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">

    <label>{{formatSecondString(this.currentProgress)}}</label>

    <mat-slider min="0" [max]="trackDuration" [value]="currentProgress" (input)="setPosition($event)"></mat-slider>
    <label>{{formatSecondString(this.trackDuration)}}</label>

  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <mat-icon>volume_up</mat-icon>
    <mat-slider thumbLabel [displayWith]="formatVolumeLabel" min="0" step=".01" max="1" [value]="volume"
      (input)="changeVolume($event)"></mat-slider>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="1">
    <mat-button-toggle-group name="currentPlaylistGroup" aria-label="Font Style">
      <mat-button-toggle *ngFor="let playlist of playlists" (click)="setPlaylist(playlist)"
        checked="{{currentPlaylist==playlist.name}}">{{playlist.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

</mat-grid-list>