.playlist_selector {
    padding-left: 20px;
    padding-bottom: 2px;
}

.manager-container {
    min-width: 350px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.manager-viewport {
    height: 500px;
    min-width: 375px;
    border: 1px solid #ccc;
  }

.manager-list {
  border: solid 1px #ccc;
  min-height: 500px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.track-header {
    padding: 20px;
}

.right-icon {
  position: fixed;
  right: 10px;
}

.manager-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.manager-box:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

