<h1 mat-header style="padding: 10px; padding-left: 50px">Playlist Manager</h1>
<div cdkDropListGroup class="manager-container-large">
  <div class="manager-container">
    <h2>Library Tracks</h2>
    <mat-list-item>
      <input matInput placeholder="Track Filter" [(ngModel)]="searchText">
    </mat-list-item>
    <cdk-virtual-scroll-viewport class="manager-viewport" itemSize="60">
      <mat-list>
        <mat-list-item mat-list-item class=manager-box *ngFor="let item of libraryTracks | trackFilter: searchText">
          <div>{{item.name}}</div>
          <button mat-icon-button style="position:fixed; right:0px" (click)="libraryClicked(item)" matTooltip="Add track to playlist">
            <mat-icon>add_circle</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="manager-container">
    <mat-form-field class="playlist_selector">
      <mat-select placeholder="Playlist" [(value)]="selected">
        <mat-option *ngFor="let playlist of playlists" [value]="playlist.name"
          (onSelectionChange)="playlistChanged($event, playlist)">
          {{ playlist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="newPlaylistClicked()" matTooltip="Add new playlist">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <button mat-icon-button (click)="editPlaylistClicked()" matTooltip="Edit playlist details" [disabled]="playlistNotSelected()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deletePlaylistClicked()" matTooltip="Delete playlist" [disabled]="playlistNotSelected()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="newPlaylistClicked()" matTooltip="Save playlist tracks">
      <mat-icon>save</mat-icon>
    </button>

    <mat-list-item>
      <input matInput placeholder="Playlist Track Filter" [(ngModel)]="searchPlaylistText">
    </mat-list-item>
    <cdk-virtual-scroll-viewport class="manager-viewport" itemSize="60">
      <mat-list>
        <mat-list-item mat-list-item class=manager-box
          *ngFor="let item of playlistTracks | trackFilter: searchPlaylistText">
          <div>{{item.name}}</div>
          <button mat-icon-button style="position:fixed; right:0px" (click)="playlistClicked(item)" matTooltip="Remove track from playlist">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </div>
</div>